<div class="contenedor-baul">
  <div class="titulo-baul">INVENTARIO</div>

  <div class="categoria-baul">
    <button
      class="categoria"
      [class.activa]="categoriaActiva === 'TODO'"
      (click)="seleccionarCategoria('TODO')"
    >
      TODO
    </button>
    <button
      class="categoria"
      [class.activa]="categoriaActiva === 'HABILIDADES'"
      (click)="seleccionarCategoria('HABILIDADES')"
    >
      HABILIDADES
    </button>
    <button
      class="categoria"
      [class.activa]="categoriaActiva === 'ARMARIO'"
      (click)="seleccionarCategoria('ARMARIO')"
    >
      ARMARIO
    </button>
  </div>

  <div class="cuadricula-inventario">
    @for (item of itemsFiltrados; track item.id) {
      <div class="slot-item">
        <img [src]="item.img" [alt]="item.nombre" class="item-icono" />
        @if (item.cantidad > 1) {
          <span class="cantidad-item">{{ item.cantidad }}</span>
        }
      </div>
    }

    @for (vacio of slotsVacios; track $index) {
      <div class="slot-item vacio"></div>
    }
  </div>
</div>
