<header>
  @if (headerType() === 'landing') {
    <a routerLink="home">
      <img src="/icon-2-sin-borde.png" alt="Truco y maña - Logo" class="logo" />
      <img src="/TyM-horizontal.png" alt="Truco y maña - Logotipo" class="logo-nombre" />
    </a>
  }
  @if (headerType() === 'home') {
    <a routerLink="home">
      <img src="/icon-2-sin-borde.png" alt="Truco y maña - Logo" class="logo" />
      <img src="/TyM-horizontal.png" alt="Truco y maña - Logotipo" class="logo-nombre" />
    </a>
  }
  @if (headerType() === 'registro' || headerType() === 'login' || headerType() === 'configuracion') {
    <a routerLink="home">
      <img src="/icon-2-sin-borde.png" alt="Truco y maña - Logo" class="logo" />
      <img src="/TyM-horizontal.png" alt="Truco y maña - Logotipo" class="logo-nombre" />
    </a>
  }

  <nav>
    <ul>
      @if (headerType() === 'landing') {
        <li><a routerLink="login">Iniciar Sesión</a></li>
        <li><a routerLink="registro">Registrarse</a></li>
      }
      @if (headerType() === 'home') {
        <li><a routerLink="">Cerrar Sesión</a></li>
      }
    </ul>
  </nav>
</header>
