@if (vistaActiva !== null) {
  <div class="contenedor-overlay-principal">
    <div class="contenedor-modal">
      @switch (vistaActiva) {

        @case ('inventario') {
          <app-inventario-overlay></app-inventario-overlay>
        }

        @case ('logros') {
          <app-logros-overlay></app-logros-overlay>
        }

        @case ('armario') {
          <app-armario-overlay></app-armario-overlay>
        }

        @default {
          <p>Error D:</p>
        }
      }

      <div class="botonCerrar" (click)="cerrar()">VOLVER</div>
    </div>
  </div>
}
