@if (vistaActual === 'seleccion-heroe') {
  <app-seleccion-personaje-historia (heroeConfirmado)="alConfirmarHeroe($event)">
  </app-seleccion-personaje-historia>
}

@if (vistaActual === 'en-juego') {
  <div class="contenedor-juego-wrapper">
    <div id="historia-container" [style.display]="mostrarTrucoSolo ? 'none' : 'block'"></div>
    @if (mostrarTrucoSolo) {
      <app-truco-solo></app-truco-solo>
    }
    <app-casa-manager></app-casa-manager>
    <app-pulperia-manager></app-pulperia-manager>
  </div>
}