:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow: hidden;
}

main {
    flex: 1;
    min-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    overflow:hidden;
    font-family: 'Jersey 20';
    background: url('/assets/home.png') center center / cover no-repeat;
    color:#ffffff;
}