@if (vistaActual === 'seleccion-heroe') {
<app-seleccion-personaje-historia (heroeConfirmado)="alConfirmarHeroe($event)">
</app-seleccion-personaje-historia>
}

@if (vistaActual === 'prologo') {
<app-prologo (prologoTerminado)="alTerminarPrologo()"></app-prologo>
}

@if (vistaActual === 'en-juego') {
  <div class="contenedor-juego-wrapper">
    <div id="historia-container"
         [style.display]="(mostrarTrucoSolo || mostrarTruco2v2 || mostrarTruco3v3) ? 'none' : 'block'">
    </div>
    @if (mostrarTrucoSolo) {
      <app-truco-solo></app-truco-solo>
    }
    @if (mostrarTruco2v2) {
      <app-truco-solo-2v2></app-truco-solo-2v2>
    }
    @if (mostrarTruco3v3) {
      <app-truco-solo-3v3></app-truco-solo-3v3>
    }
    <app-casa-manager></app-casa-manager>
    <app-pulperia-manager></app-pulperia-manager>
  </div>
}